<div class="card border-light mb-3 mt-5">
  <div class="card-header"><h2>The place of Happening</h2></div>
  <div class="card-body">
    <p class="lead">
      We're setting the world's stage for live experiences. From music festivals and conventions to pop-up dinners and photography classes, transform your vision into an experience people will love. 
    </p> 
    <p class="lead">
      Get up and running quickly – whether you’re a seasoned event planning professional or creating event for the first time, Event Room is the place to be. 
    </p>
    <p class="lead">Extend your reach and find your audience by promoiting your events among thousands of registered users.</p> 
  </div>
</div>