<div class="card border-light mb-3 mt-5">
  <div class="card-header"><h2>Connect with us!</h2></div>
  <div class="card-body">
    <p class="lead">
      We would love the chance to speak with you about your event needs. We can assure you have found the best event creation platform in the town. 
    </p> 
     <p>
      You can learn more about the Event Room by checking us out on differnt platforms.
    </p>
    <div class="d-flex mt-4">
        <div class="contact-icon-box">
          <i class="fas fa-envelope"></i>
          <span><%= link_to 'Email', "mailto:ayezahmed101@gmail.com" %></span>
        </div>
        <div class="contact-icon-box">
          <i class="fab fa-github"></i>
          <span><%= link_to 'Github', "https://github.com/saintaze", target: "_blank"%> </span>
        </div>
        <div class="contact-icon-box">
          <i class="fab fa-dev"></i>
          <span><%= link_to 'Dev.to', "https://dev.to/saintaze", target: "_blank"%> </span>
        </div>
        <div class="contact-icon-box">
          <i class="fab fa-medium"></i>
          <span><%= link_to 'Medium', "https://medium.com/@ayezahmed101", target: "_blank"%> </span>
        </div>    
      </div>
  </div>
</div>
