<div class="jumbotron">
  <h1 class="display-3 jumbotron-heading">Event Room</h1>
  <p class="lead">It is a place where anyone can create and share events. Others can browse events. They can see the past and future events. They can register for an event and can accept or reject an invitation.</p>
  <hr class="my-4">
  <p style="margin-bottom: 1.1rem;"><strong>Come!</strong> Join thousands of others. Create new events or find upcoming events near you.</p>
  <p class="lead">
  <%= link_to 'Sign Up', signup_path, class: "btn btn-success btn-lg signup-btn" %>
  </p>
</div>

