<%# show all the events created by a person %>

<div class="row">
  <div class="col-md-10 offset-md-1">
    <div class="d-flex justify-content-between my-5 align-items-start">
      <h1 class="text-center"><%= @user.name.titleize %></h1>
      
      <% if logged_in? && correct_user %>
        <%= link_to 'New Event', new_event_path, class: "btn btn-success btn-sm" %>
      <% end %>
      
    </div>
    <h3 class="mt-5 mb-4">Events Created</h3>
    <%= render partial: 'events/event_table', locals: {event: "created"} %>

    <h3 class="mb-4" style="margin-top: 4rem;">Events Attending</h3>
    <%= render partial: 'events/event_table', locals: {event: "attended"} %>
  </div>
</div>