 @import "bootstrap";
 @import "variables";

 body {
   word-break: break-word;
 }

.contact-icon-box {
  margin-right: 1rem;

  i {
    font-size: 1.2rem;
  }
}

a {
  text-decoration-color: transparent;

  &:hover {
    transition: all .4s;
    text-decoration-color: black;
  }
}


.form-control{
  background-color: #efefef;
}


.form-group {
  margin-bottom: 2rem;
}

.signup-tagline, .login-tagline, .newpost-tagline{
  letter-spacing: 1px;
  margin-left: 8px;
  font-size: .9rem;
  font-weight: 100;
  display: inline-block;
  transform: translateY(9px);
}

.field_with_errors input, .field_with_errors textarea{
  border: 1px solid $warning;
}


a{
  color: #f93d67;
}
a:hover {
  color: #ef42a9;
  text-decoration: none;
}

.event-view {
  a.active {
    color: #ef42a9;
    text-decoration: none;
  }

  a.active:hover {
    color: #f93d67;
  }

  a {
    color: $primary;
  }
}

.card a {
  color: $primary;

  &:hover {
    color: #cc9200;// #d8a117;
    text-decoration: underline;
  }
}


table {
    table-layout: fixed;
    word-wrap: break-word;
}

table th, table td {
    overflow: hidden;
}

