// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.users-list {
  padding-left: 0;
  list-style-position: inside;
  list-style-type: decimal-leading-zero;
}