<nav class="navbar navbar-expand-lg navbar-dark bg-dark text-light d-flex flex-column footer mt-5">
    <div class="name"><a href="https://github.com/saintaze" target="_blank">Ayaz Ahmed</a></div>
    <div class="copy">&copy; 2019 - 2022</div>
    <div class="rights">All rights reserved. Powered by the <span class="powered-by">Creativity of Mind</span></div>
</nav>